{% import 'macros.jinja' as macros %}

<div class="row">
    {{ macros.render_video('col-sm-6', 'https://drive.google.com/file/d/1Pss_oNLa64zbB8OdCJjUB1zj7Vb4KNYv/preview', 'static/images/videos/catheye-steve-mustard.png', 'https://drive.google.com/file/d/1Pss_oNLa64zbB8OdCJjUB1zj7Vb4KNYv') }}
    {{ macros.render_video('col-sm-6', 'https://drive.google.com/file/d/1lUXK06cWIYIcm8cMJcoedTnnCohcmmdV/preview', 'static/images/videos/catheye-wayne-vasculature.png', 'https://drive.google.com/file/d/1lUXK06cWIYIcm8cMJcoedTnnCohcmmdV') }}
</div>
