{% extends 'experiences/experience.html' %}

{% block experience_location %}
University of Michigan
{% endblock %}

{% block experience_dates %}
2006 - 2010
{% endblock %}

{% block experience_position %}
B.S. Computer Science Engineering
{% endblock %}

{% block experience_image %}
<img src="static/images/logos/michigan-logo.png"></img>
{% endblock %}

{% block experience_content %}
<ul>
    <li><b>CUDA Medical Image Processing</b>: I helped develop a CUDA module that processed brain images on a GPU. This experience showed me the power of GPU processing and its potential to improve healthcare.</li>
    <li><b>Object Oriented Programming</b>: My toughest class at UMich taught me OOP in C++. We created std classes from scratch and used them to create a command line game. After this class I was sure I picked the right field.</li>
    <li><b>Computer Architecture</b>: In this class I learned how software interacts with hardware and how to think about writing performant applications.</li>
    <li><b>Football</b>: This has nothing to do with software, but it's worth mentioning that I will forever bleed maize and blue. Umich has the best student section in the nation in my completely unbiased opinion. Go blue!</li>
    <ul>
</p>
{% endblock %}
