{% extends 'experiences/experience.html' %}

{% block experience_title %}
University of Washington - PhD Candidate, Biomedical and Health Informatics
{% endblock %}

{% block experience_image %}
<img src="static/images/logos/uw-logo.png"></img>
{% endblock %}

{% block experience_content %}
    <p>
        Designed, developed and evaluated novel head mounted display (HMD) navigation systems for endovascular procedures
    </p>

    {% include "components/hmd-guidance-videos.html" %}
    
    <p>
        <h5>Foci</h5>
        <ul>
            <li>HMD Procedural Guidance (<a href="{{ url_for('hmdNavigation') }}">more info</a>)</li>
            <li>Cloud Processing (<a href="https://github.com/drryanjames/medical-model-management-apis" target="_blank">github</a>)</li>
            <li>3D Printing | Sensors | Simulation (<a href="{{ url_for('gallery') }}">gallery</a>)</li>
            <li>User-Centered Design</li>
        </ul>
    </p>
        
    <p>
        <h5>Selected Publications:</h5>
        <ul>
            <li>Angiography-Free Delivery of Transcatheter Arterial Embolization Using Virtual Reality Guidance</li>
            <li><a href="https://www.jurology.com/article/S0022-5347(18)40174-7/fulltext" target="_blank">Initial Experience with Renal Virtual Reality Models as Educational and Preoperative Planning Tools for Partial Nephrectomy</a></li>
            <li><a href="https://www.jurology.com/article/S0022-5347(18)40188-7/fulltext" target="_blank">Virtual-Reality Projected Renal Models with Urolithiasis as an Educational and Preoperative Planning Tool for Nephrolithotomy: A Pilot Study</a></li>
            <li><a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0145621" target="_blank">Semantics-Based Composition of Integrated Cardiomyocyte Models Motivated by Real-World Use Cases</a></li>
        </ul>
    </p>

{% endblock %}

