{% extends 'experiences/experience.html' %}

{% block experience_location %}
University of Washington
{% endblock %}

{% block experience_dates %}
2014 - 2019
{% endblock %}

{% block experience_position %}
PhD, Biomedical and Health Informatics
{% endblock %}

{% block experience_image %}
<img src="static/images/logos/uw-logo.png"></img>
{% endblock %}

{%
    set publications = [
        {
            'title': 'Fluoroscopically Guided Transseptal Puncture in a Cardiac Phantom',
            'link': 'http://www.onlinejacc.org/content/73/9_Supplement_1/2055',
        },
        {
            'title': 'Angiography-Free Delivery of Transcatheter Arterial Embolization Using Virtual Reality Guidance',
            'link': 'https://www.jvir.org/article/S1051-0443(18)32155-9/fulltext',
        },
        {
            'title': 'Initial Experience with Renal Virtual Reality Models as Educational and Preoperative Planning Tools for Partial Nephrectomy',
            'link': 'https://www.jurology.com/article/S0022-5347(18)40174-7/fulltext',
        },
        {
            'title': 'Virtual-Reality Projected Renal Models with Urolithiasis as an Educational and Preoperative Planning Tool for Nephrolithotomy: A Pilot Study',
            'link': 'https://www.jurology.com/article/S0022-5347(18)40188-7/fulltext',
        },
        {
            'title': 'Semantics-Based Composition of Integrated Cardiomyocyte Models Motivated by Real-World Use Cases',
            'link': 'http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0145621',
        }
    ]
%}

{% block experience_content %}
    <p>
        I designed, developed and evaluated novel virtual reality (VR) and augmented reality (AR) surgical navigation systems for endovascular procedures.
    </p>

    {% include "components/hmd-guidance-videos.html" %}
    
    <p>
        <h5>Foci</h5>
        <ul>
            <li>VR/AR Surgical Guidance (<a href="https://medium.com/@ryanjameshealth/a-virtual-reality-surgical-guidance-system-9621e4b7b9ea" target="__blank">article</a>)</li>
            <li>Cloud Processing (GitHub link coming soon)</li>
            <li>3D Printing | Sensors | Simulation (<a href="https://photos.app.goo.gl/KKUFqXMm7V1jNt5J8" target="__blank">gallery</a>)</li>
            <li>User-Centered Design</li>
        </ul>
    </p>
        
    <p>
        <h5>Selected Publications:</h5>
        <ul>
        {% for pub in publications %}
            <li>
            {% if pub['link'] %}
                <a href="{{pub['link']}}" target="_blank">{{pub['title']}}</a>
            {% else %}
                {{pub['title']}}
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    </p>

{% endblock %}

