{% extends 'experiences/experience.html' %}

{% block experience_location %}
Clara
{% endblock %}

{% block experience_dates %}
2018 - 2019
{% endblock %}

{% block experience_position %}
Full Stack Engineer
{% endblock %}

{% block experience_image %}
<img src="static/images/logos/industry/clara-square-logo.png"></img>
{% endblock %}

{% block experience_content %}
    <p>
        A GPU accellerated medical imaging pipeline deployed with Kubernetes.
        <ul>
            <li><b>Kubernetes & Helm</b>: </li>
            <li><b>Machine Learning Pipelines</b>: </li>
            <li><b>Command Line Interface</b>: </li>
        </ul>
    </p>
{% endblock %}

