{% extends 'experiences/experience.html' %}

{% block experience_title %}
Microsoft OneNote - Full Stack Engineer
{% endblock %}

{% block experience_image %}
<img src="static/images/logos/industry/onenote-square-logo.png"></img>
{% endblock %}

{% block experience_content %}
    <p>
        <ul>
            <li><b>Cloud Services</b>: Collaborating with OneDrive, I developed, tested and maintained RESTful APIs in C# on Azure for OneNote client applications. This introduced me to the power and importance of cloud services.</li>
            <li><b>Authentication</b>: I developed an OAuth authentication service for OneNote client users. This showed me the importance of security and power of OAuth and similar technologies.</li>
            <li><b>Website</b>: I developed the first version of <a href="dev.onenote.com" target="_blank">dev.onenote.com</a> using Typescript and ASP.NET</li>
            <li><b>Testing</b>: I developed unit and end-to-end tests for my features. This taught me how tests speed up development despite having a large upfront cost.</li>
        </ul>
    </p>
{% endblock %}

