{% extends 'experiences/experience.html' %}

{% block experience_title %}
Pear Med - Founder, CTO
{% endblock %}

{% block experience_image %}
<img src="static/images/logos/entrepreneurship/pear-med-square-logo.png"></img>
{% endblock %}

{% block experience_content %}
    <p>We aimed to improve surgical planning through the commercialization of HMD planning tools</p>
    <div class="row">
        <div class="col-sm-6 videoContainer">
            <iframe width="90%" src="https://www.youtube.com/embed/8SUFeplhgBI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
        </div>
    </div>
    <p>
        <h5>Accomplishments</h5>
        <ul>
            <li>Developed Bosc, a virtual reality surgical planning tool aimed to improve outcomes (video above)</li>
            <li>Setup pilots at University of Washington, Seattle Children's, UC Irvine and BC Children's</li> 
            <li>Ultimately failed--could not find product market fit</li>
        </ul>

        <h5>Major lessons learned</h5>
        <ul>
            <li>Conduct market research before product development</li>
            <li>Build a mote around ideas</li>
            <li>Seek non-dilutive funding</li>
            <li>Team is everything</li>
        </ul>
    </p>
{% endblock %}

