{% extends 'experiences/experience.html' %}

{% import 'macros.jinja' as macros %}

{% block experience_title %}
Pear Med - Founder, CTO
{% endblock %}

{% block experience_image %}
<img src="static/images/logos/entrepreneurship/pear-med-square-logo.png"></img>
{% endblock %}

{% block experience_content %}
    <p>We aimed to improve surgical planning through the commercialization of HMD planning tools</p>
    <div class="row">
        {{ macros.render_video('col-sm-6', 'https://www.youtube.com/embed/8SUFeplhgBI', 'static/images/videos/bosc-baby-z.png', 'https://www.youtube.com/watch?v=8SUFeplhgBI') }}
    </div>
    <p>
        <h5>Accomplishments</h5>
        <ul>
            <li>Developed Bosc, a virtual reality surgical planning tool aimed to improve outcomes (video above)</li>
            <li>Setup pilots at University of Washington, Seattle Children's, UC Irvine and BC Children's</li> 
            <li>Could not find product market fit</li>
        </ul>

        <h5>Major lessons learned</h5>
        <ul>
            <li>Conduct market research before product development</li>
            <li>Build a mote around ideas</li>
            <li>Seek non-dilutive funding</li>
            <li>Team is everything</li>
        </ul>
    </p>
{% endblock %}

