{% extends 'experiences/experience.html' %}

{% block experience_location %}
Pyrus
{% endblock %}

{% block experience_dates %}
2017 - Now
{% endblock %}

{% block experience_position %}
Chief Technology Officer
{% endblock %}

{% block experience_title %}
<a href="http://www.pyrusmedical.com" target="__blank">Pyrus</a> - Founder, CTO
{% endblock %}

{% block experience_image %}
<img src="static/images/logos/entrepreneurship/pyrus-square-logo.png"></img>
{% endblock %}

{% block experience_content %}
    <p>We enable patients to get safe, secure, expert care in any hospital by enabling doctors to perform procedures over the internet</p>
    <div class="row">
        <div class="col-sm-6">
            <h5>Our Progress</h5>
            <ul>
                <li>Conducted Market Research</li>
                <li>Developed Prototype</li>
                <li>Conducted Clinical Research</li>
                <li>Submitted Publications</li>
                <li>Filed Provisional Patents</li>
                <li>Filed Grant Applications</li>
                <li>Wrote Business Plan</li>
                <li>Formed Team</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h5>Next Steps</h5>
            <ul>
                <li>Finalize FDA Strategy</li>
                <li>Develop MVP</li>
                <li>Run Pilot Studies</li>
                <li>Recieve Seed Funding</li>
            </ul>
        </div>
    </div>
{% endblock %}

