{% extends 'experiences/experience.html' %}

{% block experience_location %}
Pyrus
{% endblock %}

{% block experience_dates %}
2017 - Now
{% endblock %}

{% block experience_position %}
Chief Technology Officer
{% endblock %}

{% block experience_title %}
<a href="http://www.pyrusmedical.com" target="__blank">Pyrus</a> - Founder, CTO
{% endblock %}

{% block experience_image %}
<img src="static/images/logos/entrepreneurship/pyrus-square-logo.png"></img>
{% endblock %}

{% block experience_content %}
    <p>We aim to improve access to care through the commercialization of safe, portable and less expensive endovascular solutions</p>
    <div class="row">
        <div class="col-sm-6">
            <h5>Progress</h5>
            <ul>
                <li>Market Research</li>
                <li>Minimal Prototype</li>
                <li>Patents</li>
                <li>Grant Applications</li>
                <li>Team</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h5>Next Steps</h5>
            <ul>
                <li>Business Plan</h5>
                <li>Clinical Research</li>
                <li>Grant Funding</li>
                <li>MVP</li>
                <li>Pilot Studies</li>
                <li>Seed Funding</li>
            </ul>
        </div>
    </div>
{% endblock %}

