{% extends 'experiences/experience.html' %}

{% block experience_location %}
Pyrus
{% endblock %}

{% block experience_dates %}
2017 - Now
{% endblock %}

{% block experience_position %}
Chief Technology Officer
{% endblock %}

{% block experience_title %}
<a href="http://www.pyrusmedical.com" target="__blank">Pyrus</a> - Founder, CTO
{% endblock %}

{% block experience_image %}
<img src="static/images/logos/entrepreneurship/pyrus-square-logo.png"></img>
{% endblock %}

{%
    set progress = [
        'Conducted Market Research',
        'Developed Prototype',
        'Conducted Clinical Research',
        'Submitted Publications',
        'Filed Provisional Patents',
        'Filed Grant Applications',
        'Wrote Business Plan',
        'Formed Team',
    ]
%}
{%
    set next_steps = [
        'Finalize FDA Strategy',
        'Develop MVP',
        'Run Pilot Studies',
        'Recieve Seed Funding',
    ]
%}

{% block experience_content %}
    <p>We enable patients to get safe, secure, expert care in any hospital by enabling doctors to perform telerobotic procedures.</p>
    <div class="row">
        <div class="col-sm-6">
            <h5>Our Progress</h5>
            <div>
            {% for p in progress %}
                &#10004; {{p}}</br>
            {% endfor %}
            </div>
        </div>
        <div class="col-sm-6">
            <h5>Next Steps</h5>
            <div>
            {% for step in next_steps %}
                &#9744; {{step}}</br>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

