/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.navbar {
    background-color: white;
}

.clear {
    clear: both;
}

.footer, .footer-buffer {
    height: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #F8F8F8;
  opacity: 0.7;
}

.footer:hover {
    opacity: 1;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.footer ul, .footer ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer a, .footer a img {
    height: 50px;
    width: 50px;
}

.footer a, .footer a img {
    background-color: #808080;
}

.interests {
    text-align: center;
}

.interests .interest {
    height: 140px;
    padding: 10px;
    background-color: #F8F8F8;
}

.interests .interest:hover {
    background-color: #D8D8D8;
    cursor: pointer;
}

.interests .interest .glyphicon {
    font-size: 5em;
}

@media (max-width: 768px) {
    .interests .interest, .page.healthcare .videoContainer {
        margin: 20px;
    }
}
