.navbar {
    background-color: white;
}

.clear {
    clear: both;
}

.footer, .footer-buffer {
    height: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #F8F8F8;
  opacity: 0.7;
}

.footer:hover {
    opacity: 1;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.footer ul, .footer ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer a, .footer a img {
    height: 50px;
    width: 50px;
}

.footer a, .footer a img {
    background-color: #808080;
}

.experience {
    margin: 30px 0;
}

.experience li {
    margin-bottom: 5px;
}

.experiences .icon {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.experiences .icon img,
.experiences .icon a {
    display: block;
    width: 100%;
    margin: auto;
}

.experiences .icon a:hover {
    opacity: 0.5;
}

.experience .explination .name {
    text-align: center;
    background-color: #F8F8F8;
}

.videoContainer {
    text-align: center;
}

.videoContainer .aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51%;
}

.videoContainer .aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}

@media (max-width: 768px) {
    .videoContainer {
        margin: 20px;
    }
}

@media (max-width: 1200px) {
    .experiences .row-eq-height {
        display: block;
    }

    .experiences .icon img {
        max-width: 300px;
    }
}

