body {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(34, 34, 34);
    font-weight: 400;
}

h1, h2, h3, .navbar {
    color: rgb(51, 51, 51);
    font-weight: 900;
}

h3 {
    text-transform: uppercase;
    font-size: 14px;
}

.navbar {
    padding: 4vw 0;
    margin: 0 4vw;
    border-color: transparent;
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.content-block {
    padding: 17px 0;
    margin: 0;
}

.clear {
    clear: both;
}

.footer, .footer-buffer {
    height: 60px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #F8F8F8;
  opacity: 0.7;
}

.footer:hover {
    opacity: 1;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.footer ul, .footer ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer a, .footer a img {
    height: 50px;
    width: 50px;
}

.footer a, .footer a img {
    background-color: #808080;
}

.experience {
    margin: 30px 0;
}

.experience li {
    margin-bottom: 5px;
}

.experiences .icon {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.experiences .icon img,
.experiences .icon a {
    display: block;
    width: 100%;
    margin: auto;
}

.experiences .icon a:hover {
    opacity: 0.5;
}

.position-name-and-date {
    padding: 5px;
    text-align: center;
    background-color: #F8F8F8;
}

.position-name-and-date h4, .position-name-and-date h5 {
    margin: 0;
}

.videoContainer {
    text-align: center;
}

.videoContainer .aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51%;
}

.videoContainer .aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}

.videoContainer .alt-img {
    display: none;
}

.center-overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.center-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

@media (max-width: 768px) {
    .videoContainer {
        margin: 20px 0;
    }
}

@media (max-width: 1200px) {
    .experiences .row-eq-height {
        display: block;
    }

    .experiences .icon img {
        max-width: 300px;
    }
}

