.interests {
    text-align: center;
}

.interests .interest {
    height: 140px;
    padding: 10px;
    background-color: #F8F8F8;
    border-radius: 10px;
}

.interests .interest:hover {
    background-color: #D8D8D8;
    cursor: pointer;
}

.interests .interest .glyphicon {
    font-size: 5em;
}

.photo-gallery-btn {
    margin-top: 50px;
    background-color: #F8F8F8;
}

.photo-gallery-btn:hover {
    background-color: #D8D8D8;
    cursor: pointer;
}

@media (max-width: 768px) {
    .interests .interest, .page.healthcare .videoContainer {
        margin: 20px;
    }
}
