.name, .roles, .projects {
    text-align: center;
    white-space: pre-wrap;
}

.name {
    font-size: 50px;
}

.roles {
    font-size: 30px;
    font-weight: normal;
}

.header {
    padding: 17px 0;
}

.tile {
    text-align: center;
    height: 312.1875px;
    background: rgba(0, 0, 0, 0.7);
}

.tile img {
    height: 100%;
    width: 100%;
    filter: brightness(30%);
}

.tile img:hover {
    filter: brightness(100%);
}

.tile-content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tile .title {
    font-size: 40px;
    color: white;
}

.tile .type {
    font-size: 20px;
    color: #E0E0E0;
}

.interests {
    text-align: center;
}

.interests .interest {
    height: 140px;
    padding: 10px;
    background-color: #F8F8F8;
    border-radius: 10px;
}

.interests .interest:hover {
    background-color: #D8D8D8;
    cursor: pointer;
}

.interests .interest .glyphicon {
    font-size: 5em;
}

.photo-gallery-btn {
    margin-top: 50px;
    background-color: #F8F8F8;
}

.photo-gallery-btn:hover {
    background-color: #D8D8D8;
    cursor: pointer;
}

@media (max-width: 768px) {
    .interests .interest, .page.healthcare .videoContainer {
        margin: 20px;
    }
}
