<div class="row row-eq-height experience">
    <div class="col-lg-3 icon">
        {% block experience_image %}{% endblock %}
    </div>

    <div class="col-lg-9 explination"> 
        <div class="row position-name-and-date">
            <div class="col-sm-12">
                <h4 class="position">{% block experience_position %}{% endblock %}</h4>
            </div>

            {% if self.experience_location() %}
            <div class="col-sm-12">
                <h5 class="dates">{% block experience_location %}{% endblock %}| {% block experience_dates %}{% endblock %}</h5>
            </div>
            {% endif %}
        </div>
        {# experience content needs to be provided in the experience_content block #}
        {% block experience_content %}{% endblock %}
    </div>
</div>

