{% extends 'experiences/experience.html' %}

{% block experience_title %}
Microsoft Office Full Stack Engineer
{% endblock %}

{% block experience_image %}
<img src="static/images/logos/microsoft-square-logo.png"></img>
{% endblock %}

{% block experience_content %}
<p>I worked as a full stack engineer on the following Microsoft Office products:<p>

<h5>OneNote</h5>
<ul>
    <li><b>Cloud Services</b>: Collaborating with OneDrive, I developed, tested and maintained RESTful APIs in C# on Azure for OneNote client applications. This introduced me to the power and importance of cloud services.</li>
    <li><b>Authentication</b>: I developed an OAuth authentication service for OneNote client users. This showed me the importance of security and power of OAuth and similar technologies.</li>
    <li><b>Website</b>: I developed the first version of <a href="dev.onenote.com" target="_blank">dev.onenote.com</a> using Typescript and ASP.NET</li>
    <li><b>Testing</b>: I developed unit and end-to-end tests for my features. This taught me how tests speed up development despite having a large upfront cost.</li>
</ul>

<h5>Access</h5>
<ul>
    <li><b>Team</b>: Access 2010 was the best dev team I've ever worked on. This experience showed me the importance of the people to the product.</li>
    <li><b>SQL</b>: I developed several features that stored and retrieved information in SQL. This showed me the benefits and drawbacks of a structured DB.</li>
    <li><b>C++, C#, Javascript</b>: I developed several features using a few languages that cross-communicated. This taught me that languages are like tools on a tool belt that should be used together to build efficiently.</li>
</ul>
</p>
{% endblock %}

