{% extends "base.html" %}

{% macro panel(title, target, experiences) %}
<div class="content-block">
    <h2>{{title}}</h2>
    <hr />
</div>
    
<div>
    {% with experiences=experiences %}
    {% include "experiences/experiences.html" %}
    {% endwith %}
</div>
{% endmacro %}

{% block styles %}
    {{super()}}
    {% assets "cv_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{super()}}
    {% assets "cv_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block app_content %}
    <div class="header">
        <h1>Ryan James, PhD</h1>
        <h4>Engineer &#183 Healthcare Researcher</h4>
        <h4><a href="mailto:rcjames1004@gmail.com">rcjames1004@gmail.com</a> &#183 (269) 352-0400 &#183 <a href="https://www.linkedin.com/in/ryanjameshealth/">LinkedIn</a></h4>

        <h5 class='cv-url'><a href="{{ url_for('cv', _external=True) }}">{{ url_for('cv', _external=True) }}</a></h5>
    </div>

    <div class="panel-group">
        {{ panel('Entrepreneurship', 'entrepreneurship', ['experiences/entrepreneurship/pyrus.html', 'experiences/entrepreneurship/pear-med.html']) }}
        {{ panel('Education', 'education', ['experiences/education/uw.html', 'experiences/education/um.html']) }}
        {{ panel('Industry', 'industry', ['experiences/industry/nvidia.html', 'experiences/industry/oneNote.html', 'experiences/industry/access.html']) }}
        {{ panel('Open Source', 'opensource', ['experiences/github.html']) }}
    </div>
{% endblock %}
