{% extends "base.html" %}

{% block styles %}
    {{super()}}
    {% assets "entrepreneurship_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{super()}}
    {% assets "entrepreneurship_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block app_content %}
    <h1>Entrepreneurship</h1>
    <p>
        My goal is to successfully commercialize novel research that improves peoples lives.
        That's why I co-founded <a href="www.pyrusmedical.com" target="_blank">Pyrus</a>, where we aim to improve access to safe and effective endovascular procedures through the power of telerobotics. 
        We are currently in conversations with the FDA to solidify our regulatory path and conducting pilot studies to finalize our MVP. 
        I couldn't be more excited about this mission and its potential impact on the delivery of care.
    </p>
    <p>
        More to come soon…
    </p>
{% endblock %}
