{% extends "base.html" %}

{% block styles %}
    {{super()}}
    {% assets "hmd-navigation_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{super()}}
    {% assets "hmd-navigation_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block app_content %}
    <h1>HMD Procedural Guidance Systems</h1>
    <p>
        Endovascular procedures are minimally invasive treatments that are rapidly improving vascular care.
        Unfortunately, many of these procedures are expensive, challenging and geographically confined.
        My research explores opportunities to address these issues using head mounted displays (HMDs).
        HMDs put medical data around providers, allowing them to interact with it in its natural form.
        This facilitates understanding, decision making and accuracy in many scenarios.
        In addition, the low price tag and portable nature of HMDs are influencing the cost and accessbility of care.
        The videos below show the procedural guidance system I developed during my dissertation in collaboration with a team of forward-thinking colleagues.
    </p>

    {% include "components/hmd-guidance-videos.html" %}
{% endblock %}
