{% extends "base.html" %}

{% block styles %}
    {{super()}}
    {% assets "index_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{super()}}
    {% assets "index_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block app_content %}
    <h1>About Me</h1>
    <p>
    I am a healthcare engineering researcher developing and commercializing new ways to deliver endovascular care 
    through user-centered design, software development, market analysis and entrepreneurship.
    I enjoy working on challenging problems with cross-disciplinary teams that want to improve access to safe care and decrease the economic burden for patients and providers.
    </p>
    
    <br/>
    
    {% if interests %}
        <div class="row interests">
        {% for interest in interests %}
            <div class="col-sm-4">
                <div class="interest" onclick="window.location.href='{{ interest.url }}'">
                    <span class="glyphicon {{interest.glyphicon}}" aria-hidden="true"></span>
                    <h4>{{interest.name}}</h4>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% include "hmd-simulation-gallery.html" %}
{% endblock %}
