{% extends "base.html" %}

{% block styles %}
    {{super()}}
    {% assets "index_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{super()}}
    {% assets "index_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% macro renderTiles(tiles) %}
    {% for tileRow in tiles|batch(2) %}
        <div class="row tiles">
        {% for tile in tileRow %}
            <div class="col-sm-6">
                {% if tile.url %}
                <a href="{{tile.url}}" target="__blank">
                {% endif %}
                    <div class="tile">
                        <div class="imgContainer">
                            <img src="{{tile.img}}" />
                        </div>
                        <div class="tile-content">
                            <div class="title">{{tile.title}}</div>
                            <div class="type">{{tile.type}}</div>
                        </div>
                    </div>
                {% if tile.url %}
                </a>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endmacro %}

{% block app_content %}

    <div class="content-block">
        <h1 class="name">Ryan James, PhD</h1>
        <h2 class="roles">an engineer solving healthcare problems</h3>
    </div>

    <div class="content-block">
        <hr />
    </div>

    <h3 class="projects content-block">Projects</h3>
    <div class="content-block">
        {{ renderTiles(readyProjects) }}
    </div>

    <div class="content-block">
        <hr />
    </div>

    <h3 class="projects content-block">Coming soon</h3>
    <div class="content-block">
        {{ renderTiles(comingSoonProjects) }}
    </div>

{% endblock %}
