{% extends "base.html" %}

{% block styles %}
    {{super()}}
    {% assets "software_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{super()}}
    {% assets "software_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block app_content %}
    <h1>Software Engineering</h1>

    {% with experiences=['experiences/github.html'] %}
    {% include "experiences/experiences.html" %}
    {% endwith %}

    <div class="clear"></div>

    <div class="row">
        <div class="col-sm-6">
            <h3>My Build</h3>
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Operating System</th>
                        <td>Windows</td>
                    </tr>

                    <tr>
                        <th scope="row">CPU</th>
                        <td>Intel i7-6700K 4GHz</td>
                    </tr>

                    <tr>
                        <th scope="row">RAM</th>
                        <td>32GB DDR4</td>
                    </tr>

                    <tr>
                        <th scope="row">GPU #1</th>
                        <td>NVIDIA GTX 1080</td>
                    </tr>

                    <tr>
                        <th scope="row">GPU #2</th>
                        <td>NVIDIA GTX 670</td>
                    </tr>

                    <tr>
                        <th scope="row">Case</th>
                        <td>Corsair Obsidian 650D</td>
                    </tr>

                    <tr>
                        <th scope="row">PSU</th>
                        <td>Corsair HX750</td>
                    </tr>

                    <tr>
                        <th scope="row">CPU Fan</th>
                        <td>Cooler Master Hyper 212 EVO</td>
                    </tr>

                    <tr>
                        <th scope="row">SSD</th>
                        <td>128 GB Crucial M4 (need more)</td>
                    </tr>

                    <tr>
                        <th scope="row">HDD #1</th>
                        <td>1 TB Seagate Barracuda</td>
                    </tr>

                    <tr>
                        <th scope="row">HDD #2</th>
                        <td>3 TB Seagate Barracuda</td>
                    </tr>

                    <tr>
                        <th scope="row">Monitors</th>
                        <td>2x Dell UltraSharp U2412M</td>
                    </tr>

                    <tr>
                        <th scope="row">Virtual Reality</th>
                        <td>Oculus Rift</td>
                    </tr>

                    <tr>
                        <th scope="row">Mouse</th>
                        <td>Logitech G502</td>
                    </tr>

                    <tr>
                        <th scope="row">Keyboard</th>
                        <td>Corsair Vengeance K60 Black/Metal</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-6">
            <h3>My Favorites</h3>
            <table class="table table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">OS</th>
                        <td>Linux</td>
                    </tr>
                    <tr>
                        <th scope="row">Editor #1</th>
                        <td><a href="https://github.com/onivim/oni" target="_blank">Oni</a></td>
                    </tr>

                    <tr>
                        <th scope="row">Editor #2</th>
                        <td>Visual Studio</td>
                    </tr>
                    <tr>
                        <th scope="row">Language #1</th>
                        <td>Typescript</td>
                    </tr>
                    <tr>
                        <th scope="row">Language #2</th>
                        <td>C#</td>
                    </tr>
                    <tr>
                        <th scope="row">Language #3</th>
                        <td>Python</td>
                    </tr>
                    <tr>
                        <th scope="row">Language #4</th>
                        <td>C++</td>
                    </tr>
                    <tr>
                        <th scope="row">Language #5</th>
                        <td>Java</td>
                    </tr>
                    <tr>
                        <th scope="row">Tabs or Spaces</th>
                        <td>Spaces!</td>
                    </tr>
                    <tr>
                        <th scope="row">Runtime</th>
                        <td>NodeJS</td>
                    </tr>                        
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
